#encabezado{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: bisque;
    color: black;
    padding-left: 15px;
}

#encabezado h1{
    display: inline;
}

.descripcion{
    font-size: 15px;
}

#menu{
    position: absolute;
    top: 8%;
    left: 2;
    height: 4%;
    width: 100%;
    background-color: greenyellow;
    color: black;
}

#menu a:visited{
    color: navy;
}

#menu a:hover{
    background-color: green;
    color: white;
}

#contenido{
    position: absolute;
    top:12%;
    height: 100%;
    width: 100%;
    background-color:peru;
    color: black;
}

#piedePagina{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 7%;
    width: 100%;
    background-color: aquamarine;
    color: black;
    text-align: center;

}

.lineaDireccion{
    display: inline;
}
#encabezadoTabla{
    font-size: 20px;
    background-color: blue;
    color: yellow;
}

#tablaResumen tr{
    font-size: 25px;
}

#tablaResumen tr:nth-child(odd){
    background-color: coral;
    color: yellow;
}

#tablaResumen tr:nth-child(even){
    background-color: white;
    color: darkmagenta;
}